/* CSS Document */

/*
    Created on   : 01/01/2018.
    Theme Name   : CHcharity.
    Description  : Chcharity - Charity Fundraising HTML Template.
    Version      : 1.0.
    Author       : @template_mr.
    Developed by : @template_mr.
*/

/* ------------------------------------------ */
/*             TABLE OF CONTENTS
/* ------------------------------------------ */
/*   01 - Loading Transition  */
/*   02 - Global stlye  */
/*   03 - Theme title  */
/*   04 - INDEX HOME */
/*   05 - Header */
/*   06 - Theme Menu  */
/*   07 - Theme Main Banner  */
/*   08 - Children Care List  */
/*   09 - Banner Bottom Section  */
/*   10 - You Can Bring  */
/*   11 - Rcent Causes  */
/*   12 - Company History  */
/*   13 - Upcoming Events  */
/*   14 - testimonial section  */
/*   15 - News Update  */
/*   16 - them main footer section  */
/*   17 - INDEX - 2  */
/*   18 - Urgent Program  */
/*   19 - Our SEO Experts  */
/*   20 - Theme Inner Banner */
/*   21 - About Us */
/*   22 - Causes */
/*   23 - Right Side Bar  */
/*   24 - Causes Details */
/*   25 - Events */
/*   26 - Events v-2 */
/*   27 - Events Details */
/*   28 - Google Map */
/*   29 - Gallery */
/*   30 - Team Pages */
/*   31 - Join Volunteer */
/*   32 - Blog */
/*   33 - Blog Details */
/*   34 - Contact Us */
/*   35 - Shop */
/*   36 - Shop Side Bar */
/*   37 - Shop Details */
/*   38 - Faq */
/*   39 - Click To Top */
/*   40 - Conatct Form Activation */

/**
* Importing necessary  Styles.
**/
/*------- Fonts ---------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Open+Sans:300i,400,600,700');
/*----bootstrap css ----- */
@import url('../vendor/bootstrap/css/bootstrap.min.css');
/*------------ Range Slider ------------*/
@import url('../vendor/bootstrap-slider-master/dist/css/bootstrap-slider.min.css');
/*----bootstrap Select ----- */
@import url('../vendor/bootstrap-select-1.10.0/dist/css/bootstrap-select.min.css');
/*----Camera---*/
@import url('../vendor/Camera-master/css/camera.css');
/*-------fancy box --------*/
@import url('../vendor/fancybox/dist/jquery.fancybox.min.css');
@import url('../vendor/fancybox/jquery.fancybox.css');
/*----font awesome -------*/
@import url('../font/font-awesome/css/font-awesome.min.css');
/*--------- flat-icon ---------*/
@import url('../font/flat-icon/font/flaticon.css');
/*----owl-carousel css----*/
@import url('../vendor/OwlCarousel2/dist/assets/owl.carousel.min.css');
@import url('../vendor/OwlCarousel2/dist/assets/owl.theme.default.min.css');
/*-------- animated css ------*/
@import url('../vendor/WOW-master/css/libs/animate.css');
/*-------Hover Css --------*/
@import url('../vendor/hover.css');
/*--------- Jquery ui ---------*/
@import url('../vendor/jquery-ui/jquery-ui.min.css');
/*------------- Map -------------*/
@import url('../vendor/sanzzy-map/dist/snazzy-info-window.min.css');
/*** 

====================================================================
  Loading Transition
====================================================================

***/
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background: #fff;
  overflow: hidden;
}
#loader {
  background: url(../images/1.gif);
  width: 64px;
  height: 64px;
  position: relative;
  top: 50%;
  margin: -32px auto 0 auto;
}
/*======== Global css ========*/
@font-face {
	font-family: "font-awesome";
	src: url('../font/font-awesome/fonts/fontawesome-webfont.ttf');
	src: url('../font/font-awesome/fonts/fontawesome-webfont.eot'), /*IE9 Compat Modes*/
		 url('../font/font-awesome/fonts/fontawesome-webfont.woff') format ('woff'), /* Pretty Modern Browsers */
		 url('../font/font-awesome/fonts/fontawesome-webfont.woff2') format ('woff2'), /* Super Modern Browsers */
		 url('../font/font-awesome/fonts/fontawesome-webfont.svg') format ('svg'), /* Legacy iOS */
}
* {
	margin:0;
	padding: 0;
}
body {
	font-family: 'Open Sans', sans-serif;
	color: #000;
	font-size: 16px;
	font-weight: 400;
	overflow-x: hidden !important;
	position: relative;
}
h1,h2,h3,h4,h5,h6,p,ul { 
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Montserrat', sans-serif;
	color: #171616;
	text-transform: none;
	font-weight: 500;
}
h1 {
	font-size: 60px;
	line-height: 74px;
	font-weight: 700;
}
h2 {
	font-size: 40px; 
	line-height: 60px;
	font-weight: 600;
}
h3 {font-size: 32px; line-height: 40px;}
h4 {font-size: 24px; line-height: 36px;}
h5 {font-size: 20px; line-height: 30px;}
h6 {font-size: 16px; line-height: 25px;}
p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 40px;
	font-size: 16px;
	color: rgba(0,0,0,0.7);
}
a {
	text-decoration: none;
	display: inline-block;
	-webkit-transition: all .3s ease-out;
	   -moz-transition: all .3s ease-out;
	    -ms-transition: all .3s ease-out;
	     -o-transition: all .3s ease-out;
	        transition: all .3s ease-out;
}
a:hover,a:active,a:visited,a:focus {
	text-decoration: none;
	outline: none;
}
button {
	border: none;
	outline: none;
	box-shadow: none;
	display: block; 
	padding: 0;
}
ul {
	list-style-type: none;*/
}
img {max-width: 100%; display: block;}
input,textarea {outline: none; -webkit-box-shadow: none; box-shadow: none;-webkit-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out;}
.main-page-wrapper {overflow-x: hidden !important;}
.clear-fix {
	clear: both;
}
.clear-fix:after {
	display: table;
	content: '';
	clear: both;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.portfolio-item .item-opacity, .portfolio-item .item-opacity>div>h6, .Team-Pages .Our-Team-Item .Team-Text>h5, .Blog-List-Wrapper>li>h5,
.Causes-Details-Wrapper .Causes-Details-Item>.Causes-Text>.count-down>li, .Causes-Details-Wrapper .Causes-Details-Item>.Causes-Text>.count-down>li>span, .Causes-Details-Wrapper .Causes-Details-Item>.Causes-Text>.count-down>li>p,
.Rcent-Causes-Item-Wrapper .Causes-Item .Causes-Text, .Our-SEO-Experts .Experts-item .Experts-title:before, .Causes-Sidebar-Wrapper .Causes-Sidebar-Item>.Causes-Text>h3, #Details-Slider.owl-theme .owl-dots .owl-dot span,
#theme-main-banner .camera_prev, #theme-main-banner .camera_next, .Children-Care-list .list-item, .Children-Care-list .list-item>i, .Right-Side-Bar .Side-Our-Programs>ul>li>a>i, .mixitUp_menu ul li:before, .mixitUp_menu ul li,
.tran3s {
	-webkit-transition: all .3s ease-out;
	   -moz-transition: all .3s ease-out;
	    -ms-transition: all .3s ease-out;
	     -o-transition: all .3s ease-out;
	        transition: all .3s ease-out;
}
img,
.tran5s {
	-webkit-transition: all .5s ease-out;
	   -moz-transition: all .5s ease-out;
	    -ms-transition: all .5s ease-out;
	     -o-transition: all .5s ease-out;
	        transition: all .5s ease-out;
}
.p-color {
	color: #fd580b;
}
.p-color-bg {
	background: #fd580b;
}
.text-center {
	text-align: center;
	color: white;
}
#img-titleh4{
	color: white;
}
.a-comon {
	font-size: 18px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}
.margin-top {margin-top: 120px !important;}
.margin-bottom {margin-bottom: 120px !important;}
.margin-top-0 {margin-top: 0 !important;}
.margin-bottom-0 {margin-bottom: 0 !important;}
.padding-top-0 {padding-top: 0 !important;}
.padding-bottom-0 {padding-bottom: 0 !important;}
/**============= Theme title ===============**/
.Theme-title h2 {font-weight: 700;}
.Theme-title h6 {font-weight: 700; color: #fd580b; line-height: 55px;}
/*** 

====================================================================
	INDEX HOME
====================================================================

***/
/*======================== Header ====================*/
.top-header {background: #212120;}
.top-header ul {padding: 20px 0;}
.top-header ul>li {display: inline-block;}
.top-header ul>li>a {color: #fff;}
.top-header ul>li>a:hover {color: #fd580b;}
.top-header .top-header-left li {margin-right: 20px;}
.top-header .top-header-left li>a>i {margin-right: 10px;}
.top-header .top-header-right li:last-child,
.top-header .top-header-left li:last-child { margin-right: 0;}
.top-header .top-header-right li {margin-right: 28px;}
/*=====*/
.middle-header {padding: 5px 0 0px;}
.middle-header .middle-header-contant ul>li {
	float: left; 
	width: 33.333333%; 
	padding-left: 75px !important;
	position: relative;
}
.middle-header .middle-header-contant ul>li>i {
	position: absolute;
	top: 0;
	left: 0;
	color: #bfbcbc;
	font-size: 40px;
	line-height: 50px;
}
.middle-header .middle-header-contant ul>li>a,
.middle-header .middle-header-contant ul>li>span {display: block; color: rgba(0,0,0,0.7);}
.middle-header .middle-header-contant ul>li>p {
	font-weight: 300; 
	color: #fd580b; 
	font-style: italic; 
	font-size: 14px;
	line-height: 35px;
}
.middle-header .middle-header-contant ul>li>a:hover {color: #fd580b;}
/*======================== Theme Menu ====================*/
#search-button {
	background: transparent;
	color: #fff;
	font-size: 22px;
	position: relative;
	display: inline-block;
	line-height: 79px;
	width: 60px;
}
#searchWrapper {
	position: fixed;
	top:0;
	right: 0;
	bottom: 0;
	left:0;
	background: rgba(255,255,255,0.97);
	z-index: 99999;
	opacity: 0;
	visibility: hidden;
}
#searchWrapper.show-box {opacity: 1; visibility: visible;}
#searchWrapper .container {height: 100%;}
#searchWrapper img {
	margin:0 auto;
	position: relative;
	top:20%;
}
#searchWrapper form {
	position: relative;
	top:40%;
	height: 70px;
	-webkit-transform:translateY(-50%);
	      transform:translateY(-50%);
}
#searchWrapper form input {
	height: 100%;
	width: 100%;
	border: 1px solid rgba(253,88,11,0.2);
	border-radius: 5px;
	padding: 0 95px 0 20px;
	background: rgba(240,240,240,0.5);
	font-size: 20px;
	letter-spacing: 1.2px;
	font-weight: 300;
}
#searchWrapper form input:focus {box-shadow: 0px 0px 18px -3px rgba(253,88,11,0.7);}
#searchWrapper form button {
	position: absolute;
	top:0;
	right: 0;
	width: 90px;
	height: 100%;
	position: absolute;
	font-size: 20px;
	color:#fff;
	border-radius: 0 5px 5px 0;
	background: #fd580b;
}
#searchWrapper #close-button {
	position: absolute;
	top:20px;
	right: 20px;
	width: 60px;
	height: 60px;
	font-size: 35px;
	background: transparent;
}
.cart {
	position: relative;
	background: transparent;
	display: inline-block;
	color: #fff;
	line-height: 79px;
	font-size: 22px;
	width: 60px;
	margin-right: 10px;
}
.cart span {
	font-family: 'Montserrat', sans-serif;
	display: block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border-radius: 50%;
	color: #fd580b;
	font-weight: 500;
	font-size: 14px;
	position: absolute;
	top: 12px;
	right: 3px;
	background: #fff;
}
.main-menu-button {
	position: relative;
	float: right;
	display: block;
	color: #fff;
	width: 200px;
	line-height: 80px;
	background: rgba(0,0,0,0.08);
	margin-left: 10px;
}
.main-menu-button>i {font-weight: 400; margin-left: 5px; font-size: 25px; line-height: 70px;}
.cart:hover, #search-button:hover,
.main-menu-button:hover {color: #fff; background: rgba(0,0,0,0.3);}
/*=====*/
.theme-main-menu {background: #2b2a27;}
.theme-main-menu .menu-skew-div {position: relative;}
.theme-main-menu .menu-skew-div:before {
	content: "";
	width: 5000px;
	background: #fd580b;
	left: 65%;
	position: absolute;
	top: 0;
	bottom: 0;
  	-webkit-transform: skew(-28deg);
        	transform: skew(-28deg);
}
.main-menu .navbar-nav {margin: 0; width: 100%;}
.navbar {border: none; margin-bottom: 0; float: left;}
.main-menu .navbar-collapse {
	padding:0;
	box-shadow: none;
	z-index: 9999;
}
.main-menu .navbar-nav >li {margin-right: 40px;}
.main-menu .navbar-nav >li:last-child {margin-right: 0;}
.main-menu .navbar-nav >li>a {
	background: transparent;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	padding: 0;
	line-height: 80px;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.main-menu .navbar-nav >li.active>a,
.main-menu .navbar-nav >li:hover a,
.main-menu .navbar-nav >li:focus a {
	color: #fd580b;
}
.main-menu nav ul li.dropdown-holder .fa {
	display: none;
	line-height: 46px;
	width: 60px;
	font-size: 18px;
	color: #fff;
	position: absolute;
	top:0;
	right: 0;
	text-align: center;
	cursor: pointer;
	border-left: solid 1px #fff;
}
.navbar-toggle {
	margin: 0;
	background: transparent;
	border-radius: 0;
	padding: 0;
	height: 80px;
}
.navbar-toggle .icon-bar {
	background: #fd580b;
	height: 4px;
	width: 35px;
}
.navbar-toggle .icon-bar+.icon-bar {margin-top: 6px;}
.navbar-toggle:hover .icon-bar+.icon-bar {margin-top: 4px;}
/*=================== Sub Menu ==============*/
.main-menu .navbar-nav>li.dropdown-holder .sub-menu {
	position: absolute;
	min-width:250px;
	top: 110px;
	left: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	z-index: 99999;
	box-shadow: 0px 0px 25px -3px rgba(21,21,21,0.09);
}
.main-menu .navbar-nav>li.dropdown-holder:hover .sub-menu {
	opacity: 1;
	visibility: visible;
	top: 80px;
	-webkit-transform: scaleY(1);
	 -moz-transform: scaleY(1);
	  -ms-transform: scaleY(1);
	   -o-transform: scaleY(1);
		  transform: scaleY(1);
	z-index: 99999;
}
.main-menu .navbar-nav>li.dropdown-holder .sub-menu li a {
	font-size: 17px;
	font-weight: 600;
	line-height: 48px;
	text-transform: capitalize;
	color: #222222;
	padding: 0 15px;
	display: block;
	border-top: 1px solid rgba(0,0,0,0.05);
	background: #fff;
	position: relative;
}
.main-menu .navbar-nav>li.dropdown-holder .sub-menu li:hover a {
	background: #fd580b;
	padding-left: 22px;
	color: #fff;
}
/*((((((((((((((((((((( scroll Menu ))))))))))))))))))))*/
@keyframes menu_sticky {
	0%   {margin-top:-120px;opacity: 0;}
	50%  {margin-top: -64px;opacity: 0;}
	100% {margin-top: 0;opacity: 1;}
}
.theme-main-menu.fixed {
	position: fixed !important;
	width:100%;
	top:0;
	left:0;
	z-index: 9999;
	margin: 0;
	animation-name: menu_sticky;
	animation-duration: 0.90s;
	animation-timing-function: ease-in-out;
	box-shadow: 0px 0px 25px -3px rgba(21,21,21,0.2);
}
/*==================================== Theme Main Banner ====================================*/
.camera_wrap {float:none;}
#theme-main-banner .camera_overlayer {
	content: '';
	position: absolute;
	top:0;
	left:0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.28);
}
#theme-main-banner .camera_prev, #theme-main-banner .camera_next {
	background: rgba(0,0,0,0.4);
	height: 120px;
	width: 30px;
	margin-top: -60px;
	text-align: center;
}
#theme-main-banner .camera_prev:hover, #theme-main-banner .camera_next:hover {background: rgba(0,0,0,0.7);}
#theme-main-banner .camera_prev > span,#theme-main-banner .camera_next > span {
	background: none;
	display: block;
	width: 100%;
	height: 100%;
}
#theme-main-banner .camera_prev > span:before,#theme-main-banner .camera_next > span:before {
	font-family: 'font-awesome';
	font-size: 32px;
	color:#fff;
	line-height: 120px;
}
#theme-main-banner .camera_prev > span:before {content: '';}
#theme-main-banner .camera_next > span:before {content: '';}
#theme-main-banner.camera_wrap .camera_pag .camera_pag_ul li {display: none !important;}
#theme-main-banner .camera_caption {height: 100%;}
#theme-main-banner .camera_caption>div {
	background: transparent;
	position: absolute;
	width: 100%;
	z-index: 1;
	top: 50%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
	text-shadow: none;
	left: 0;
	padding: 0;
}
#theme-main-banner .camera_caption .container h1 {color: #fff; margin-bottom: 70px;}
#theme-main-banner .camera_caption .container h6 {color: #fff; font-size: 18px; font-weight: 700;}
#theme-main-banner .camera_caption .container a {
	width: 230px;
	font-weight: 600;
	font-size: 18px;
	line-height: 50px;
	text-align: center;
	color: #fff;
	background: #fd580b;
	opacity: 1;
	margin-top: 30px;
	text-transform: capitalize;
	letter-spacing: 1px;
}
#theme-main-banner .camera_caption .container>a:before {background: rgba(0,0,0,0.6);}
/*================================= Children Care List =================================*/
.Children-Care-list-margin {margin: 140px 0 120px;}
.Children-Care-list .list-item {border: solid 1px #e2e1e1;}
.Children-Care-list .list-item:hover {border-color: #fd580b; background: #fd580b;}
.Children-Care-list .list-item>i {
	color: #fd580b;
	font-size: 60px;
	line-height: 100px;
	display: block;
}
.Children-Care-list .list-item>h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 18px;
	text-transform: capitalize;
	padding-bottom: 22px;
}
.Children-Care-list .list-item>h6>a {color: #181717;}
.Children-Care-list .list-item:hover>i {color: #271b16;}
.Children-Care-list .list-item:hover>h6>a {color: #fff;}
/*======================== Banner Bottom Section ====================*/
.banner-bottom-section {
	background: url(../images/home/bg-img-1.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
}
.banner-bottom-section>.opact-div {
	background: rgba(0,0,0,0.72);
	min-height: 283px; 
	padding: 70px 0;
}
.banner-bottom-section-text>h3 {font-size: 33px; color: #fff; margin-bottom: 30px;}
.banner-bottom-section-text>p {color: #fff; font-size: 18px; max-width: 720px;}
.banner-bottom-section-button {padding-top: 35px;}
.banner-bottom-section-button a {
	max-width: 230px;
	display: block;
	line-height: 50px;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	text-transform: capitalize;
	background: #fd580b;
	text-align: center;
	margin: 0 auto;
}
.banner-bottom-section-button a:hover{color: #fd580b;}
/*==================================== You Can Bring ======================================*/
.You-Can-Bring .You-Can-Bring-Title {padding: 120px 0 90px;}
.You-Can-Bring .You-Can-Bring-Title h3 {font-weight: 600; margin-top: 25px;}
.You-Can-Bring .You-Can-Bring-Title p {padding-left: 40px; border-left: solid 1px #fd580b;}
.You-Can-Bring .You-Can-Bring-Item-Wrapper>div.row,
.You-Can-Bring .You-Can-Bring-Item-Wrapper>div.row>div {margin: 0; padding: 0;}
.You-Can-Bring .You-Can-Bring-Item-Wrapper .Bring-Item {background: #fd580b; padding: 70px 5px 60px;}
.You-Can-Bring .You-Can-Bring-Item-Wrapper .Bring-Item.bring-item-bg-two {background: #32251c;}
.You-Can-Bring .You-Can-Bring-Item-Wrapper .Bring-Item>h3 {color: #fff; margin-bottom: 30px;}
.You-Can-Bring .You-Can-Bring-Item-Wrapper .Bring-Item>p {
	color: #fff; 
	line-height: 30px; 
	font-size: 17px; 
	max-width: 560px; 
	margin: 0 auto;
}
.You-Can-Bring .You-Can-Bring-Item-Wrapper .Bring-Item>span {
	display: block;
	font-size: 20px;
	font-weight: 600;
	line-height: 32px;
	color: #fff;
	margin: 15px 0 40px;
}
.You-Can-Bring .You-Can-Bring-Item-Wrapper .Bring-Item>a {
	display: block;
	color: #fff;
	width: 230px;
	line-height: 50px;
	background: #d84906;
	margin: 0 auto;
}
.You-Can-Bring .You-Can-Bring-Item-Wrapper .Bring-Item>a:hover {color: #fd580b;}
/*==================================== Rcent Causes ======================================*/
.Rcent-Causes-Section {padding: 110px 0 50px;}
.Rcent-Causes-Section .Theme-title {margin-bottom: 30px;}
.Rcent-Causes-Item-Wrapper .Causes-Item .Causes-Img {position: relative; overflow: hidden;}
.Rcent-Causes-Item-Wrapper .Causes-Item .Causes-Img:before {
	content: "";
    width: 200%;
    height: 110%;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: -102%;
    left: -50%;
    right: -50%;
    z-index: 9;
}
.Rcent-Causes-Item-Wrapper .Causes-Item .Causes-Img>img {
	width: 100%;
	-webkit-transform:scale3D(1.1,1.1,1.1);
          transform:scale3D(1.1,1.1,1.1);
}
.Rcent-Causes-Item-Wrapper .Causes-Item:hover .Causes-Img>img {
	-webkit-transform:scale3D(1,1,1);
          transform:scale3D(1,1,1);
}
.Rcent-Causes-Item-Wrapper .Causes-Item .Causes-Text {
	border: dashed 2px #e0dedd;
	border-top: none;
	padding: 40px 20px;
	text-align: center;
	height: 528px;		
}
.Rcent-Causes-Item-Wrapper .Causes-Item:hover .Causes-Text {border-color: #fd580b;}
.Rcent-Causes-Item-Wrapper .Causes-Item .Causes-Text>h3 {
	font-weight: 600;
	font-size: 22px;
	margin: 5px 0 25px;
}
.Rcent-Causes-Item-Wrapper .Causes-Item .Causes-Text>ul>li {
	display: inline-block;
	vertical-align: middle;
	color: #171616;
	font-size: 18px;
	font-weight: 600;
	line-height: 32px;
}
/**--------**/
.donate-piechart {
	width: 71px;
	height: 71px;
	border-radius: 50%;
	background: #fff;
	margin: 0 18px;
	-webkit-transform:scale(1);
	      transform:scale(1);
}
.donate-piechart span {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: #fd580b;
	font-size: 16px;
	line-height: 71px;
	position: absolute;
	top:0;
	left:0;
	right: 0;
	text-align: center;
}
.donate-piechart span:after {
	content: "%";
	font-weight: 700;
}
.Rcent-Causes-Item-Wrapper .Causes-Item .Causes-Text:hover .donate-piechart {
  -webkit-transform:scale3D(1.1,1.1,1.1);
          transform:scale3D(1.1,1.1,1.1);
}
/**-------------**/
.Rcent-Causes-Item-Wrapper .Causes-Item .Causes-Text>p {margin: 25px 0 35px;}
.Rcent-Causes-Item-Wrapper .Causes-Item .Causes-Text>a {
	width: 160px;
	line-height: 43px;
	color: #fd580b;
	border: solid 1px #fd580b;
	font-weight: 600;
}
.Rcent-Causes-Item-Wrapper .Causes-Item .Causes-Text>a:hover {color: #fff; background: #fd580b;}
.Rcent-Causes-Item-Wrapper>a {
	display: block;
	width: 228px;
	line-height: 45px;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	background: #fd580b;
	text-align: center;
	margin: 70px auto 0;
}
/*======================================= Company History =======================================*/
.company-history-section {
	position: relative;
	background: url(../images/home/bg-img-2.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
}
.company-history-section .company-history-shape-img-top,
.company-history-section .company-history-shape-img-bottom {
	position: absolute;
}
.company-history-section .company-history-shape-img-top>img,
.company-history-section .company-history-shape-img-bottom>img {
	width: 100%;
	max-height: 120px;
}
.company-history-section .company-history-shape-img-top {top: 0; right: 0; left: 0;}
.company-history-section .company-history-shape-img-bottom {bottom: 0; right: 0; left: 0;}
.company-history-containt-opact {
	padding: 190px 0;
	background: rgba(253,88,11,0.85);
}
.company-history-containt-opact .history-item>div {padding-left: 95px; position: relative; min-height: 110px;}
.company-history-containt-opact .history-item>div>i {font-size: 50px; color: #fff; line-height: 50px; position: absolute; top: 0; left: 0;}
.company-history-containt-opact .history-item>div>p {color: #fff; font-size: 20px; margin-bottom: 10px;}
.company-history-containt-opact .history-item>div>h2 {color: #fff; font-size: 52px; font-weight: 700;}
.company-history-containt-opact .history-item.item-four {float: right;}
.company-history-containt-opact .history-item.item-two,
.company-history-containt-opact .history-item.item-three {width: 208px; margin: 0 auto;}
/*==================================== Upcoming Events ======================================*/
.Upcoming-Events {margin: 85px 0;}
.Upcoming-Events .Theme-title {margin-bottom: 60px;}
.Events-Item-Wrapper>li {
	background: #f7f7f7; 
	position: relative; 
	overflow: hidden;
	margin-bottom: 20px;
	padding-right: 65px;
}
.Events-Item-Wrapper>li .events-img,
.Events-Item-Wrapper>li .day,
.Events-Item-Wrapper>li .events-text {float: left; text-align: center;}
.Events-Item-Wrapper>li .events-img {width: 300px; overflow: hidden;}
.Events-Item-Wrapper>li .events-img>img {
	width: 100%;
	-webkit-transform:scale3D(1.1,1.1,1.1);
          transform:scale3D(1.1,1.1,1.1);
}
.Events-Item-Wrapper>li:hover .events-img>img {
	-webkit-transform:scale3D(1,1,1);
          transform:scale3D(1,1,1);
}
.Events-Item-Wrapper>li .day {width: 200px; margin-top: 38px; padding-left: 50px;}
.Events-Item-Wrapper>li .day>h2 {font-size: 80px; color: #dddcdc; margin-bottom: 30px;}
.Events-Item-Wrapper>li .day>h6 {font-size: 18px; font-weight: 600; color: #fd580b; line-height: 36px;}
.Events-Item-Wrapper>li .events-text {width: calc(100% - 530px); margin-top: 38px;}
.Events-Item-Wrapper>li .events-text>h4 {margin-bottom: 20px; font-weight: 600;}
.Events-Item-Wrapper>li .events-text>p {max-width: 385px; margin: 0 auto; line-height: 36px;}
.Events-Item-Wrapper>li .events-text>p>i {color: rgba(253,88,11,0.7);}
.Events-Item-Wrapper>li>a {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	background: #fd580b;
	color: #fff;
	width: 60px;
	text-align: center;
	font-size: 15px;
}
.Events-Item-Wrapper>li>a>i {
	display: block;
	line-height: 60px;
	width: 60px;
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.official-charity {
	margin-top: 30px;
	background: #f7f7f7;
	padding: 20px 35px 30px;
}
.official-charity>h4 {margin-bottom: 13px; font-weight: 600;}
.official-charity.charity-one-bg-color {background: #fd580b;}
.official-charity.charity-one-bg-color>p {color: #fff;}
/*================================= testimonial section ===========================*/
.testimonial-section {
	position: relative;
	background: url(../images/home/bg-img-3.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
}
.testimonial-section .testimonial-shape-img {position: absolute; top: 0; right: 0; left: 0;}
.testimonial-section .testimonial-shape-img>img {width: 100%; max-height: 160px;}
.testimonial-section .testimonial-opact {padding: 200px 0 65px; background: rgba(0,0,0,0.82);}
.testimonial-containt .testimonial-shape-border {width: 93px; border-bottom: solid 1px #fff; margin: 0 auto 50px; text-align: center;}
.testimonial-containt .testimonial-shape-border>i {font-size: 50px; color: #fd580b; margin-bottom: 5px; display: inline-block;}
.testimonial-containt .carousel-inner>.item {text-align: center;}
.testimonial-containt .carousel-inner>.item>p {font-size: 20px; line-height: 40px; color: #fff; padding: 0 16%;}
.testimonial-containt .carousel-inner>.item>span {color: #fd580b; font-size: 18px; font-weight: 600; display: block; margin: 50px 0 18px;}
.testimonial-containt .carousel-inner>.item>img {width: 94px; height: 94px; margin: 0 auto; display: block; border-radius: ;}
.testimonial-containt .carousel-indicators {display: none !important;}
/*========================================= News Update ======================================*/
.news-update-section {margin: 120px 0 100px;}
.home-news-update-wrapper {margin-top: 67px;}
.home-news-update-item {margin-bottom: 30px;}
.home-news-update-item>.news-update-img {overflow: hidden;}
.home-news-update-item>.news-update-img>img {width: 100%;}
.home-news-update-item:hover>.news-update-img>img {
	-webkit-transform: scale3D(1.1,1.1,1);
    transform: scale3D(1.1,1.1,1);
}
.home-news-update-item>.news-update-text {
	padding: 47px 10px 30px 30px;
	min-height: 290px;
	-webkit-box-shadow: 0px 6px 20px 1px rgba(0,0,0,0.1);
		-moz-box-shadow: 0px 6px 20px 1px rgba(0,0,0,0.1);
			box-shadow: 0px 6px 20px 1px rgba(0,0,0,0.1);
}
.home-news-update-item>.news-update-text>span {display: block; color: #fd580b;}
.home-news-update-item>.news-update-text>span>i {margin-right: 10px;}
.home-news-update-item>.news-update-text>p {
	font-size: 20px; 
	color: #171616; 
	font-weight: 600; 
	line-height: 34px; 
	margin: 23px 0 32px;
	font-family: 'Montserrat', sans-serif;
}
.home-news-update-item>.news-update-text>a {font-size: 18px; line-height: 34px; font-weight: 600; color: #8e8e8e;}
.home-news-update-item>.news-update-text>a>i {font-size: 14px; margin-right: 10px; vertical-align: middle;}
.home-news-update-item>.news-update-text:hover>a {color: #fd580b;}
/*================================== them-main-footer-section =====================================*/
.main-footer-top-section {background: #fd580b; text-align: center; padding: 65px 0;}
.main-footer-top-section .footer-top-item>h3 {color: #fff; line-height: 50px;}
.Subscribe-footer-form {padding-top: 35px;}
.Subscribe-footer-form>p {color: #fff; font-size: 18px; margin-bottom: 20px;}
.Subscribe-footer-form>form {max-width: 600px; height: 52px; padding-right: 200px; position: relative; margin: 0 auto;}
.Subscribe-footer-form>form>input {width: 100%; height: 100%; max-height: 52px; border: none; padding: 0 15px;}
.Subscribe-footer-form>form>button {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	max-height: 52px;
	width: 195px;
	background: rgba(0,0,0,0.1);
	color: #fff;
	font-size: 18px;
	font-weight: 600;
}
.Subscribe-footer-form>form>button:before {background: rgba(0,0,0,0.8);}
.Subscribe-footer-form>form>button:hover {color: #fd580b;}
/*==============*/
.them-main-footer-containt-item {background: #212120; padding: 17px 0 19px;}
.them-main-footer-containt-item .footer-containt-item-text-and-logo {padding-right: 20px;}
.them-main-footer-containt-item .footer-containt-item-text-and-logo .footer-logo {margin-bottom: 40px;}
.them-main-footer-containt-item .footer-containt-item-text-and-logo>p {color: #787777; font-size: 15px;}
.them-main-footer-containt-item .footer-containt-item {padding-top: 44px;}
.them-main-footer-containt-item .footer-containt-item>ul>li {line-height: 42px;}
.them-main-footer-containt-item .footer-containt-item>ul>li>a {color: #787777;}
.them-main-footer-containt-item .footer-containt-item>ul>li>a:hover {color: #fd580b;}
/*======*/
.main-footer-bottom-section {padding: 35px 0; background: #1c1c1a;}
.main-footer-bottom-section .footer-bottom-left-said>li,
.main-footer-bottom-section .footer-bottom-right-said>li {display: inline-block;}
.main-footer-bottom-section .footer-bottom-left-said {float: left;}
.main-footer-bottom-section .footer-bottom-left-said>li>span {font-size: 15px; color: #969494; margin-right: 5px;}
.main-footer-bottom-section .footer-bottom-left-said>li>span>a {color: #fd580b;}
.main-footer-bottom-section .footer-bottom-right-said {float: right;}
.main-footer-bottom-section .footer-bottom-right-said>li>a {color: #969494; padding: 0 12px; font-size: 16px;}
.main-footer-bottom-section .footer-bottom-right-said>li>a:hover {color: #fd580b;}
/*** 

====================================================================
	INDEX - 2
====================================================================

***/
.top-header.top-header-v-two {background: transparent; border-bottom: solid 1px #e4e3e2;}
.top-header.top-header-v-two ul>li>a {color: #757575;}
.top-header.top-header-v-two ul>li>a:hover {color: #fd580b;}
.top-header.top-header-v-two .top-header-right .Our-Help>a {color: #fd580b; font-weight: 600; margin-right: 20px;}
/****/
.theme-main-menu.theme-main-menu-v-two {background: transparent;}
.theme-main-menu.theme-main-menu-v-two .menu-skew-v-two {background: #2b2a27; padding-left: 30px;}
.theme-main-menu.theme-main-menu-v-two .menu-skew-v-two:before {
	content: "";
	width: 400px;
	background: #fd580b;
	position: absolute;
	left: auto;
	right: 0;
	top: 0;
	bottom: 0;
  	-webkit-transform: skew(-0deg);
        	transform: skew(-0deg);
}
.theme-main-menu.theme-main-menu-v-two.fixed {box-shadow: none;}
.theme-main-menu.theme-main-menu-v-two.fixed .menu-skew-v-two {box-shadow: 0px 0px 25px -3px rgba(21,21,21,0.2);}
/*****/
#theme-main-banner .camera_caption .caption-v-two>h1 {margin-bottom: 0;}
.caption-v-two>h1>span {color: #fd580b;}
.caption-v-two>h1>span>span {color: #fff; font-size: 18px;}
#theme-main-banner .camera_caption .caption-v-two>h6 {margin: 35px 0 30px;}
#theme-main-banner .camera_caption .caption-v-two>a {border: solid 1px #fd580b; margin-right: 15px;}
#theme-main-banner .camera_caption .caption-v-two>a:hover,
#theme-main-banner .camera_caption .caption-v-two>a.banner-button-two {background: transparent; border-color: #fff;}
#theme-main-banner .camera_caption .caption-v-two>a.banner-button-two:hover {background: #fd580b; border-color: #fd580b;}
/*==================================== Urgent Program ======================================*/
.Urgent-Program {margin-top: 120px;}
.Urgent-Program .Urgent-Program-Item>h2 {font-size: 35px; font-weight: 700;}
.Urgent-Program .Urgent-Program-Item>p {font-size: 17.6px; line-height: 35px; margin: 35px 0;}
.Urgent-Program .Urgent-Program-Item .Urgent-Location>li {
	display: inline-block;
	width: 34%;
	text-align: center;
	color: #fff;
	background: #fd580b;
	line-height: 35px;
	font-size: 15px;
	margin-bottom: 5px;
}
.Urgent-Program .Urgent-Program-Item .Urgent-Location>li:last-child {width: 30%}
.Urgent-Program .Urgent-Program-Item .Urgent-Location>li>i {margin-right: 8px;}
.Urgent-Program .Urgent-Program-Item .Urgent-Piechart {margin: 45px 0;}
.Urgent-Program .Urgent-Program-Item .Urgent-Piechart>li {
	display: inline-block;
	vertical-align: middle;
	font-size: 25px;
	font-weight: 600;
	line-height: 32px;
}
.Urgent-Program .Urgent-Program-Item .Urgent-Piechart>li .donate-piechart {
	margin: 5px 30px;
  -webkit-transform:scale3D(1.3,1.3,1.3);
          transform:scale3D(1.3,1.3,1.3);
}
.Urgent-Program .Urgent-Program-Item .Urgent-Massage>a.two:hover,
.Urgent-Program .Urgent-Program-Item .Urgent-Massage>a {
	width: 160px;
	line-height: 45px;
	text-align: center;
	background: #fd580b;
	color: #fff;
	margin-top: 40px;
	font-weight: 600;
}
.Urgent-Program .Urgent-Program-Item .Urgent-Massage>a.one:hover,
.Urgent-Program .Urgent-Program-Item .Urgent-Massage>a.two {background: #817f7f;}
.Urgent-Program .Urgent-Program-Img {
	position: relative;
	overflow: hidden;
	margin-top: 10px;
}
.Urgent-Program .Urgent-Program-Img:before {
	content: "";
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 10px;
	border: solid 1px #fff;
}
.Urgent-Program .Urgent-Program-Img>img {width: 100%;}
/*==================================== Our SEO Experts ======================================*/
.Our-SEO-Experts-padding {padding: 120px 0 20px;}
.Our-SEO-Experts .Experts-item {overflow: hidden;}
.Our-SEO-Experts .Experts-item .Experts-img {position: relative; overflow: hidden;}
.Our-SEO-Experts .Experts-item .Experts-img>img {width: 100%;}
.Our-SEO-Experts .Experts-item .Experts-img>ul {
	position: absolute;
	top: 0;
	right: 0;
}
.Our-SEO-Experts .Experts-item .Experts-img>ul>li>a {
	margin-top: 18px;
	line-height: 16px;
	font-size: 16px;
	width: 45px;
	text-align: center;
	color: #fd580b;
}
.Our-SEO-Experts .Experts-item .Experts-img>ul>li>a {opacity: 0;}
.Our-SEO-Experts .Experts-item:hover .Experts-img>ul>li>a {opacity: 1;}
.Our-SEO-Experts .Experts-item .Experts-img>ul>li:nth-of-type(1)>a {-webkit-transition-delay: 0.1s; transition-delay: 0.1s;}
.Our-SEO-Experts .Experts-item .Experts-img>ul>li:nth-of-type(2)>a {-webkit-transition-delay: 0.2s; transition-delay: 0.2s;}
.Our-SEO-Experts .Experts-item .Experts-img>ul>li:nth-of-type(3)>a {-webkit-transition-delay: 0.3s; transition-delay: 0.3s;}
.Our-SEO-Experts .Experts-item .Experts-title {
	padding: 30px 0;
	position: relative;
	text-align: center;
	border-bottom: solid 3px #fd580b;
	overflow: hidden;
}
.Our-SEO-Experts .Experts-item:hover .Experts-title {border-bottom-color: transparent;}
.Our-SEO-Experts .Experts-item .Experts-title:before {
	content: "";
    width: 100%;
    height: 0%;
    background: #fd580b;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
	z-index: -1;
}
.Our-SEO-Experts .Experts-item:hover .Experts-title:before {height: 100%;}
.Our-SEO-Experts .Experts-item .Experts-title>h5>a {color: #242222; margin-bottom: 8px; font-weight: 600;}
.Our-SEO-Experts .Experts-item .Experts-title>p {color: #242222; font-size: 18px;}
/*********/
.testimonial-section .testimonial-opact.testimonial-opact-v-two {background: #f2f2f2;}
.testimonial-section .testimonial-opact.testimonial-opact-v-two .testimonial-containt .testimonial-shape-border {border-color: #d4c8c8;}
.testimonial-section .testimonial-opact.testimonial-opact-v-two .testimonial-containt .carousel-inner>.item>span {color: rgba(0,0,0,0.7);}
.testimonial-section .testimonial-opact.testimonial-opact-v-two .testimonial-containt .carousel-inner>.item>p {color: rgba(0,0,0,0.9);}
/*** 

====================================================================
	Theme Inner Banner
====================================================================

***/
.Theme-Inner-Banner.inner-banner-bg-img-one {
	background: url(../images/about/inner-banner-1.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}
.Theme-Inner-Banner .banner-opacity {
	background: rgba(0,0,0,0.42);
	min-height: 395px;
}
.Theme-Inner-Banner .banner-content {
	padding: 100px 0 120px;
	position: relative;
}
.Theme-Inner-Banner .banner-content>h1 {color: #fff;}
.Theme-Inner-Banner .banner-content>p {
	color: #fff;
	font-size: 24px;
	line-height: 45px;
	margin-top: 25px;
	text-transform: uppercase;
}
.Theme-Inner-Banner .banner-content>ul {
	position: absolute;
	left: 0;
	bottom: 18px;
}
.Theme-Inner-Banner .banner-content>ul>li {display: inline-block; color: #fff; font-size: 16px;}
.Theme-Inner-Banner .banner-content>ul>li>span {padding: 0 10px;}
.Theme-Inner-Banner .banner-content>ul>li>a {color: #fff;}
.Theme-Inner-Banner .banner-content>ul>li>a:hover {color: #fd580b;}
.Theme-Inner-Banner .banner-content>a {
	display: block;
	width: 230px;
	line-height: 50px;
	background: #fd580b;
	color: #fff;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	position: absolute;
	right: 0;
	bottom: 0;
}
.Theme-Inner-Banner .banner-content>a:hover {color: #fd580b;}
.Theme-Inner-Banner.inner-banner-bg-img-two {
	background: url(../images/about/inner-banner-2.jpeg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}
.Theme-Inner-Banner.inner-banner-bg-img-two>.banner-opacity {background: rgba(0,0,0,0.75);}
/*** 

====================================================================
	About Us
====================================================================

***/
.About-Us-Section {margin: 120px 0;}
.About-Us-Section h3 {
	font-size: 30px;
	line-height: 45px;
	font-weight: 600;
	margin-bottom: 40px;
}
.About-Us-Section p {line-height: 36px;}
.About-Us-Section img {width: 100%;}
.About-Us-Section .we-are-innovators {margin-bottom: 100px;}
.About-Us-Section .we-are-innovators .innovators-text p {margin-bottom: 30px;}
.About-Us-Section .we-are-innovators .innovators-img {overflow: hidden; margin-left: 50px;}
.About-Us-Section .Watch-Case-video .Case-video>img,
.About-Us-Section .Our-Story .Story-Img>img,
.About-Us-Section .we-are-innovators .innovators-img>img {
	-webkit-transform: scale3D(1.1,1.1,1.1);
    transform: scale3D(1.1,1.1,1.1);
}
.About-Us-Section .Watch-Case-video .Case-video:hover>img,
.About-Us-Section .Our-Story .Story-Img:hover>img,
.About-Us-Section .we-are-innovators:hover .innovators-img>img {
	-webkit-transform: scale3D(1,1,1);
    transform: scale3D(1,1,1);
}
.About-Us-Section .Our-Story {margin-bottom: 90px;}
.About-Us-Section .Watch-Case-video p,
.About-Us-Section .Our-Story p {max-width: 900px; margin-bottom: 65px;}
.About-Us-Section .Our-Story .Story-Img {overflow: hidden;}
.About-Us-Section .Watch-Case-video .Case-video {overflow: hidden; position: relative;}
.About-Us-Section .Watch-Case-video .Case-video .video-play {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	
}
.About-Us-Section .Watch-Case-video .Case-video .video-play>a {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -43px 0 0 -43px;
	display: block;
	color: #fff;
}
.About-Us-Section .Watch-Case-video .Case-video .video-play>a>i {line-height: 85px; font-size: 85px;}
.About-Us-Section .Watch-Case-video .Case-video .video-play>a:hover {color: #fd580b;}
/********/
.Our-SEO-Experts-margin {margin: 120px 0 80px;}
/*** 

====================================================================
	Causes
====================================================================

***/
.Rcent-Causes-Item-Wrapper .Causes-Item-margin {margin-bottom: 80px;}
/*==================================== Causes Sidebar ======================================*/
.Causes-Sidebar-Wrapper .Causes-Sidebar-Item {margin-bottom: 40px;}
.Causes-Sidebar-Wrapper .Causes-Sidebar-Item>.Causes-Text,
.Causes-Sidebar-Wrapper .Causes-Sidebar-Item>.Causes-Img {float: left; height: 360px;}
.Causes-Sidebar-Wrapper .Causes-Sidebar-Item>.Causes-Img {width: 270px;}
.Causes-Sidebar-Wrapper .Causes-Sidebar-Item>.Causes-Img:before {
	content: "";
    width: 110%;
    height: 200%;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: -50%;
    left: auto;
    right: -103%;
    bottom: -50%;
    z-index: 9;
}
.Causes-Sidebar-Wrapper .Causes-Sidebar-Item>.Causes-Img>img {height: 100%;}
.Causes-Sidebar-Wrapper .Causes-Sidebar-Item>.Causes-Text {
	width: calc(100% - 270px);
	padding: 20px 0;
	border: solid 1px #ebebeb;
	border-left: none;
}
.Causes-Sidebar-Wrapper .Causes-Sidebar-Item>.Causes-Text>h3 {font-size: 28px;}
.Causes-Sidebar-Wrapper .Causes-Sidebar-Item>.Causes-Text:hover>h3 {color: #fd580b;}
.Causes-Sidebar-Wrapper .Causes-Sidebar-Item>.Causes-Text>p {margin: 20px auto 30px; max-width: 405px;}
/******************/
.number-next-and-pivias {padding-top: 35px;}
.number-next-and-pivias>li {display: inline-block;}
.number-next-and-pivias>li>a {
	font-size: 20px;
	font-weight: 600;
	color: #171616;
	line-height: 32px;
	padding: 0 10px;
	vertical-align: middle;
}
.number-next-and-pivias>li:last-child>a {line-height: 0; color: #fd580b;}
.number-next-and-pivias>li>a>i {font-size: 15px; margin-left: 10px; line-height: 32px;}
.number-next-and-pivias>li>a:hover {color: #fd580b;}
/*==================================== Right Side Bar ======================================*/
.Right-Side-Bar {
	background: #efeeee;
	padding: 120px 10px 120px 40px;
}
.Right-Side-Bar h5 {
	position: relative;
	font-size: 20px;
	font-weight: 600;
	line-height: 40px;
	margin-bottom: 40px;
	padding-bottom: 15px;
}
.Right-Side-Bar h5:before {
	content: "";
	display: block;
	width: 54px;
	height: 2px;
	background: #fd580b;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 99;
}
.Right-Side-Bar h5:after {
	content: "";
	display: block;
	width: 108px;
	height: 2px;
	background: #fff;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 9;
}
.Right-Side-Bar .Side-Search {
	max-width: 285px;
	height: 50px;
	position: relative;
	padding-right: 50px;
	background: #fff;
	margin-bottom: 50px;
}
.Right-Side-Bar .Side-Search>input {
	width: 100%;
	height: 100%;
	border: none;
	padding: 0 5px 0 15px;
}
.Right-Side-Bar .Side-Search>button {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 50px;
	background: #fff;
	color: #696464;
}
.Right-Side-Bar .Side-Recent-News-Post>ul>li,
.Right-Side-Bar .Side-Upcoming-Events>ul>li {
	margin-bottom: 30px;
	position: relative;
	min-height: 80px;
	padding-left: 100px;
}
.Right-Side-Bar .Side-Recent-News-Post>ul>li>img,
.Right-Side-Bar .Side-Upcoming-Events>ul>li>img {
	position: absolute;
	top: 0;
	left: 0;
	width: 80px;
	height: 80px;
}
.Right-Side-Bar .Side-Upcoming-Events>ul>li>.text {padding: 5px 0;}
.Right-Side-Bar .Side-Recent-News-Post>ul>li>.text>h6>a,
.Right-Side-Bar .Side-Upcoming-Events>ul>li>.text>h6>a {color: #171616; font-weight: 600;}
.Right-Side-Bar .Side-Recent-News-Post>ul>li:hover>.text>h6>a,
.Right-Side-Bar .Side-Upcoming-Events>ul>li:hover>.text>h6>a {color: #fd580b;}
.Right-Side-Bar .Side-Recent-News-Post>ul>li>.text>span,
.Right-Side-Bar .Side-Upcoming-Events>ul>li>.text>span {color: rgba(0,0,0,0.6); font-size: 14px; margin-top: 6px; display: block;}
.Right-Side-Bar .Side-Our-Programs {padding: 30px 0;}
.Right-Side-Bar .Side-Our-Programs>ul>li {margin-bottom: 20px;}
.Right-Side-Bar .Side-Our-Programs>ul>li>a {
	display: inline-block;
	line-height: 30px;
	color: #171616;
	position: relative;
	padding-left: 35px;
}
.Right-Side-Bar .Side-Our-Programs>ul>li>a:hover {color: #fd580b; padding-left: 40px;}
.Right-Side-Bar .Side-Our-Programs>ul>li>a>i {
	display: inline-block;
	font-size: 13px;
	line-height: 30px;
	color: #6b6868;
	position: absolute;
	top: 0;
	left: 0;
}
.Right-Side-Bar .Side-Our-Programs>ul>li>a:hover>i {color: #fd580b;}
.Right-Side-Bar .Side-Recent-News-Post>ul>li>.text {padding: 10px 0 0;}
.Right-Side-Bar .Side-Recent-News-Post>ul>li:last-child {margin-bottom: 0;}
/*==================================== Causes Details ======================================*/
.Causes-Details-Wrapper .Causes-Details-Item>.Causes-Img:before {
	width: 200%; 
	height: 110%; 
	top: auto; 
	left: -50%; 
	right: -50%; 
	bottom: -102%;
}
.Causes-Details-Wrapper .Causes-Details-Item>.Causes-Text {border: none; border-bottom: solid 1px #e9e3e3;}
.Causes-Details-Wrapper .Causes-Details-Item>.Causes-Text>.ul-One {margin-bottom: 30px;}
.Causes-Details-Wrapper .Causes-Details-Item>.Causes-Text>.ul-One>li>span {color: #fd580b; margin-left: 30px;}
.Causes-Details-Wrapper .Causes-Details-Item>.Causes-Text>.count-down {margin: 38px 0 15px;}
.Causes-Details-Wrapper .Causes-Details-Item>.Causes-Text>.count-down>li {
	display: inline-block;
	width: 98px;
	background: #e8e8e8;
	padding: 7px 0;
	cursor: pointer;
	margin-bottom: 5px;
}
.Causes-Details-Wrapper .Causes-Details-Item>.Causes-Text>.count-down>li:hover {background: #fd580b;}
.Causes-Details-Wrapper .Causes-Details-Item>.Causes-Text>.count-down>li>span {display: block; line-height: 32px;}
.Causes-Details-Wrapper .Causes-Details-Item>.Causes-Text>.count-down>li>p {font-size: 14px;}
.Causes-Details-Wrapper .Causes-Details-Item>.Causes-Text>.count-down>li:hover>span,
.Causes-Details-Wrapper .Causes-Details-Item>.Causes-Text>.count-down>li:hover>p {color: #fff;}
/*******************/
.Details-Info>h3 {
	font-size: 28px;
	font-weight: 600;
	margin: 45px 0 20px;
}
.Details-Info .info-list-one {margin-bottom: 35px;}
.Details-Info .info-list-one>li {
	display: inline-block;
	font-size: 14px;
	line-height: 32px;
	color: rgba(0,0,0,0.6;);
	margin-right: 20px;
}
.Details-Info>p {line-height: 36px; margin-bottom: 30px;}
.Details-Info>.Share-Div>p{
	font-weight: 600; 
	line-height: 36px; 
	font-size: 17px;
	padding-right: 10px;
	position: relative;
	padding-bottom: 30px;
	color: rgba(0,0,0,0.9);
}
.Details-Info>.Share-Div>p>.quotation {
	position: absolute;
	bottom: 25px;
	right: 30px;
	font-size: 30px;
	color: #dedede;
	z-index: -1;
}
.Details-Info>.Share-Div>.Share-tex {
	margin-left: 60px;
	border-left: solid 1px #fd580b;
	padding-left: 20px;
}
.Details-Info>.Share-Div>.Share-tex>li {
	line-height: 36px;
	font-weight: 600;
	color: rgba(0,0,0,0.9);
}
.Details-Info>.Share-Div>.Share-List {margin-top: 70px;}
.Details-Info>.Share-Div>.Share-List>li {display: inline-block;}
.Details-Info>.Share-Div>.Share-List>li>span {
	font-size: 20px;
	font-weight: 600;
	color: #171616;
	line-height: 36px;
	margin-right: 10px;
}
.Details-Info>.Share-Div>.Share-List>li>a {
	font-size: 18px;
	color: #4c4747;
	line-height: 36px;
	padding: 0 10px;
}
.Details-Info>.Share-Div>.Share-List>li>a:hover {color: #fd580b;}
#Details-Slider {margin: 50px 0 38px;}
#Details-Slider.owl-theme .owl-dots .owl-dot.active span, 
#Details-Slider.owl-theme .owl-dots .owl-dot:hover span {
	background: #fd580b;
}
#Details-Slider.owl-theme .owl-dots {margin-top: 25px;}
/*****/
.Admin-Text {
	margin: 80px 0;
	background: #fd580b;
	padding: 40px 25px 35px 165px;
	position: relative;
}
.Admin-Text>img {
	position: absolute;
	top: 40px;
	left: 25px;
	width: 120px;
	height: 120px;
	border-radius: 50%;
}
.Admin-Text>.Text h6 {line-height: 32px; font-weight: 600; color: #fff;}
.Admin-Text>.Text ul {margin-left: 30px;}
.Admin-Text>.Text ul>li {display: inline-block;}
.Admin-Text>.Text ul>li>a {line-height: 32px; color: #fff; margin-left: 6px; padding: 0 5px;}
.Admin-Text>.Text ul>li>a:hover {color: #cec8c8;}
.Admin-Text>.Text>p {color: #fff; margin-top: 13px; max-width: 530px;}
/******/
.Leave-A-Comment>h4,
.Three-Comments-Section>h4 {
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 70px;
	position: relative;
}
.Leave-A-Comment>h4:before,
.Three-Comments-Section>h4:before {
	content: "";
	display: inline-block;
	width: 70%;
	height: 1px;
	background: #e3e3e3;
	position: absolute;
	top: 50%;
	right: 0;
}
.Three-Comments-Section>ul>li>ul>li>.Comments-Item,
.Three-Comments-Section>ul>li>.Comments-Item {
	position: relative;
	margin-bottom: 40px;
	padding: 8px 8px 8px 130px;
}
.Three-Comments-Section>ul>li>ul>li>.Comments-Item>img,
.Three-Comments-Section>ul>li>.Comments-Item>img {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	position: absolute;
	top: 8px;
	left: 8px;
}
.Three-Comments-Section>ul>li>ul>li>.Comments-Item>h6,
.Three-Comments-Section>ul>li>.Comments-Item>h6 {font-size: 18px; line-height: 32px; font-weight: 600;}
.Three-Comments-Section>ul>li>ul>li>.Comments-Item>span,
.Three-Comments-Section>ul>li>.Comments-Item>span {
	display: block;
	line-height: 32px;
	color: #a9a4a4;
	font-weight: 600;
	font-size: 15px;
}
.Three-Comments-Section>ul>li>ul>li>.Comments-Item>p,
.Three-Comments-Section>ul>li>.Comments-Item>p {margin: 16px 0 20px;}
.Three-Comments-Section>ul>li>ul>li>.Comments-Item>a,
.Three-Comments-Section>ul>li>.Comments-Item>a {
	width: 86px;
	line-height: 36px;
	color: #fff;
	background: #969391;
	text-align: center;
	font-size: 14px;
	border-radius: 12px;
}
.Three-Comments-Section>ul>li>ul>li>.Comments-Item>a:hover,
.Three-Comments-Section>ul>li>.Comments-Item>a:hover {background: #fd580b;}
.Three-Comments-Section>ul>li>ul {margin-left: 120px;}
/***********/
.Leave-A-Comment {padding-top: 33px;}
.Leave-A-Comment>h4:before {width: 65%;}
.Leave-A-Comment>form>div>div {margin-bottom: 45px;}
.Leave-A-Comment>form>div>div:last-child {margin-bottom: 0;}
.Leave-A-Comment>form textarea {
	max-width: 100%;
	min-width: 100%;
	max-height: 215px;
	min-height: 215px;
	padding: 25px;
	border: solid 1px #ebebeb;
	font-size: 14px;
	color: rgba(0,0,0,0.6);
}
.Leave-A-Comment>form input {
	width: 100%;
	height: 50px;
	border: solid 1px #ebebeb;
	padding: 0 10px;
	font-size: 14px;
	color: rgba(0,0,0,0.6);
}
.Leave-A-Comment>form button {
	width: 158px;
	line-height: 45px;
	color: #fff;
	background: #fd580b;
	text-align: center;
	font-weight: 600;
	border-radius: 12px;
}
.Leave-A-Comment>form textarea:focus,
.Leave-A-Comment>form input:focus {
	border: solid 1px rgba(253,88,11,0.2);
	-webkit-box-shadow: 0px 0px 2px 0px rgba(253,88,11,0.4);
		-moz-box-shadow: 0px 0px 2px 0px rgba(253,88,11,0.4);
			box-shadow: 0px 0px 2px 0px rgba(253,88,11,0.4);
}
/*** 

====================================================================
	Events
====================================================================

***/
.Item-Events-List-Wrapper>.Causes-Img-Date>.Date {
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
	z-index: 999;
	padding: 12px 0;
	width: 59px;
	background: #fd580b;
	text-align: center;
}
.Item-Events-List-Wrapper>.Causes-Img-Date>.Date>span {
	font-size: 26px; 
	font-weight: 700; 
	line-height: 32px; 
	color: #fff;
	display: block;
}
.Item-Events-List-Wrapper>.Causes-Img-Date>.Date>p {font-weight: 600; font-size: 20px; color: #fff;}
.Item-Events-List-Wrapper>.Causes-Text {padding: 25px 8px !important;}
.Item-Events-List-Wrapper>.Causes-Text>h3 {margin-bottom: 0 !important;}
.Item-Events-List-Wrapper>.Causes-Text>p {margin: 20px auto 18px !important; max-width: 425px !important;}
.Item-Events-List-Wrapper>.Causes-Text>ul {margin-bottom: 32px;}
.Item-Events-List-Wrapper>.Causes-Text>ul>li {
	font-size: 16px !important;
	font-weight: 400;
	color: rgba(0,0,0,0.6) !important;
	font-style: italic;
	margin-right: 20px;
}
.Item-Events-List-Wrapper>.Causes-Text>ul>li>i {margin-right: 5px;}
/*============================================= Events v-2 ===============================================*/
.Events-Pages-v2 {margin-top: 120px;}
.Events-Pages-v2 .Events-Item-Wrapper>li>a {background: #dddcdc;}
.Events-Pages-v2 .Events-Item-Wrapper>li>a:hover {background: #fd580b;}
/****/
.Events-Serch-Top {margin-bottom: 40px; text-align: center;}
.Events-Serch-Top>li {display: inline-block; margin-bottom: 15px; vertical-align: middle;}
.Events-Serch-Top>li:nth-of-type(1) {float: left;}
.Events-Serch-Top>li:nth-of-type(3) {float: right;}
.Events-Serch-Top>li>form {width: 270px; height: 50px; position: relative;}
.Events-Serch-Top>li>form>input {
	width: 100%;
	height: 100%;
	padding: 0 50px 0 10px;
	border: solid 1px #ebebeb;
}
.Events-Serch-Top>li>form>input:focus {box-shadow: 0px 0px 18px -3px rgba(253,88,11,0.3); border-color: rgba(253,88,11,0.2);}
.Events-Serch-Top>li>form>button {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 50px;
	background: transparent;
	color: #958f8f;
}
/***/
.bootstrap-select.btn-group:not(.input-group-btn),
.bootstrap-select.btn-group[class*="col-"] {
	width: 222px !important;
	height: 50px !important;
	border: solid 1px #ebebeb;
}
.bootstrap-select > .dropdown-toggle:focus,
.bootstrap-select > .dropdown-toggle {
	width: 100%;
	height: 100%;
	white-space: normal;
	display: block;
	border: none;
	position: relative;
	background: #fff !important;
	outline: none !important;
	line-height: 35px;
	padding-left: 15px;
	box-shadow: none !important;
}
.find-course .bootstrap-select > .dropdown-toggle:hover,
.find-course .bootstrap-select > .dropdown-toggle:focus {
	background: transparent;
	outline: none !important;
}
.bootstrap-select.btn-group .dropdown-toggle .caret {display: none;}
.bootstrap-select.btn-group .dropdown-toggle .bs-caret {
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  width: 25px;
}
.bootstrap-select.btn-group .dropdown-toggle .bs-caret:before {
  font-family: 'font-awesome';
  content: '';
  position: absolute;
  top:0;
  left: 0;
  font-size: 18px;
  line-height: 50px;
  color: #848484;
}
.bootstrap-select.btn-group .dropdown-menu {
	border: solid 1px #ebebeb;
	box-shadow: none;
	border-radius: 0;
	margin-top: 1px;
}
.bootstrap-select.btn-group .dropdown-menu li>a {line-height: 30px; border-bottom: solid 1px #fff;}
.bootstrap-select.btn-group .dropdown-menu li.selected a,
.bootstrap-select.btn-group .dropdown-menu li:hover a {color: #fff; background: #fd580b;}
/****/
.Events-Serch-Top>li>ul>li {display: inline-block;}
.Events-Serch-Top>li>ul>li>a {
	width: 52px;
	line-height: 48px;
	border: solid 1px #ebebeb;
	text-align: center;
	color: #958f8f;
}
.Events-Serch-Top>li>ul>li>a:hover {background: #fd580b; color: #fff;}
/*=============================================== Events Details =================================================*/
.Event-Details-Pages .Causes-Details-Item .Causes-Text .count-down {margin: 5px 0 35px;}
.Event-Details-Pages .Causes-Details-Item .Causes-Text .Look-Event>li,
.Event-Details-Pages .Causes-Details-Item .Causes-Text .Wacker-Drive>li {
	font-size: 16px;
	font-weight: 400;
	color: #848383;
	line-height: 32px;
	margin-right: 30px;
	margin-bottom: 10px;
}
.Event-Details-Pages .Causes-Details-Item .Causes-Text .Look-Event>li>i,
.Event-Details-Pages .Causes-Details-Item .Causes-Text .Wacker-Drive>li>i {margin-right: 7px; color: #171616;}
.Event-Details-Pages .Causes-Details-Item .Causes-Text .Look-Event {margin: 30px 0 10px;}
.Event-Details-Pages .Causes-Details-Item .Causes-Text .Look-Event>li>a {
	width: 225px;
	line-height: 45px;
	color: #fff;
	background: #fd580b;
	font-weight: 600;
}
.Event-Details-Pages .Causes-Details-Item .Causes-Text .Look-Event>li>a:hover {background: #e8e8e8; color: #000;}
/*=========== Google Map ==========*/
.Event-Location-Google-map {height: 395px; margin: 40px 0 70px;}
.map-canvas {width: 100%; height: 100%;}
.si-content img {margin-bottom: 10px;}
.si-has-border .si-content-wrapper {border: none;}
.si-shadow-wrapper-top {opacity: 0;}
/**********/
.Share-Div>h3 {font-size: 22px; padding-top: 20px;}
.Event-Details-Pages .Share-Div .Share-List {margin-top: 25px;}
/*** 

====================================================================
	Gallery
====================================================================

***/
.mixitUp_menu {margin-bottom: 60px; text-align: center;}
.mixitUp_menu ul li {
	font-size: 18px;
	font-weight: 600;
	display: inline-block;
	cursor: pointer;
	margin: 0 15px;
	font-family: 'Montserrat', sans-serif;
	position: relative;
	line-height: 36px;
	color: #504f4f;
	margin-bottom: 10px;
}
.mixitUp_menu ul li:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	background: #fd580b;
	width: 0%;
}
.mixitUp_menu ul li.mixitup-control-active:before,
.mixitUp_menu ul li:hover:before {width: 100%;}
.mixitUp_menu ul li.mixitup-control-active,
.mixitUp_menu ul li:hover {color: #fd580b;}
/****/
.portfolio-item {
	position: relative;
	overflow: hidden; 
	margin-bottom: 30px;
}
.portfolio-item>img {
	width: 100%;
	-webkit-transform:scale3D(1.1,1.1,1.1);
          transform:scale3D(1.1,1.1,1.1);
}
.portfolio-item:hover>img {
	-webkit-transform:scale3D(1,1,1);
          transform:scale3D(1,1,1);
}
.portfolio-item .item-opacity {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.62);
	opacity: 0;
}
.portfolio-item:hover .item-opacity {opacity: 1;}
.portfolio-item .item-opacity>div {
	position: relative;
	height: 100%;
	z-index: 99;
}
.portfolio-item .item-opacity>div>h6 {
	font-size: 20px; 
	line-height: 20px;
	font-weight: 600;
	color: #fff;
	position: absolute;
	bottom: -50px;
	left: 5px;
	text-align: left;
	right: 85px;
}
.portfolio-item:hover .item-opacity>div>h6 {bottom: 25px;}
.portfolio-item .item-opacity>div>ul {
	position: absolute;
	bottom: 15px;
	right: 15px;
}
.portfolio-item .item-opacity>div>ul>li:nth-of-type(1) {margin-bottom: 12px;}
.portfolio-item .item-opacity>div>ul>li>a {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	color: #fff;
	background: #fd580b;
	line-height: 45px;
	font-size: 25px;
	opacity: 0;
}
.portfolio-item:hover .item-opacity>div>ul>li>a {opacity: 1;}
.portfolio-item .item-opacity>div>ul>li:nth-of-type(1)>a {-webkit-transition-delay: 0.3s; transition-delay: 0.3s;}
.portfolio-item .item-opacity>div>ul>li:nth-of-type(2)>a {-webkit-transition-delay: 0.2s; transition-delay: 0.2s;}
/*** 

====================================================================
	Team Pages
====================================================================

***/
.Team-Pages {margin-top: 140px;}
.Team-Pages .Our-Team-Item {margin-bottom: 30px;}
.Team-Pages .Our-Team-Item .Team-Img {overflow: hidden;}
.Team-Pages .Our-Team-Item .Team-Img>img {
	width: 100%;
	-webkit-transform:scale3D(1.1,1.1,1.1);
          transform:scale3D(1.1,1.1,1.1);
}
.Team-Pages .Our-Team-Item:hover .Team-Img>img {
	-webkit-transform:scale3D(1,1,1);
          transform:scale3D(1,1,1);
}
.Team-Pages .Our-Team-Item .Team-Text {
	background: #f5f5f5;
	text-align: center;
	border-bottom: solid 2px #fd580b;
	padding: 25px 5px;
}
.Team-Pages .Our-Team-Item .Team-Text>h5 {font-weight: 600;}
.Team-Pages .Our-Team-Item:hover .Team-Text>h5 {color: #fd580b;}
.Team-Pages .Our-Team-Item .Team-Text>p {line-height: 26px; margin: 20px 0 25px;}
.Team-Pages .Our-Team-Item .Team-Text>ul>li {display: inline-block; margin: 0 7px;}
.Team-Pages .Our-Team-Item .Team-Text>ul>li>a {
	width: 50px;
	line-height: 50px;
	border-radius: 50%;
	background: #d1cfcf;
	color: #fff;
}
.Team-Pages .Our-Team-Item .Team-Text>ul>li>a:hover {background: #fd580b;}
/*** 

====================================================================
	Join Volunteer
====================================================================

***/
.Join-Volunteer-Pages .Theme-title {margin: 40px 0 60px;}
.Join-Volunteer-Pages .single-input {
	height: 50px;
	margin-bottom: 50px;
	width: 100%;
}
.Join-Volunteer-Pages .single-input>input {
	width: 100%;
	height: 100%;
	padding: 0 20px;
	border: solid 1px #e5e2e2;
}
.Join-Volunteer-Pages .single-textarea>textarea:focus,
.Join-Volunteer-Pages .single-input>input:focus {box-shadow: 0px 0px 18px -3px rgba(253,88,11,0.3); border-color: rgba(253,88,11,0.2);}
.Join-Volunteer-Pages .single-input>.bootstrap-select.btn-group:not(.input-group-btn),
.Join-Volunteer-Pages .single-input>.bootstrap-select.btn-group[class*="col-"] {
	width: 100% !important;
	height: 100% !important;
	border: solid 1px #e5e2e2;
}
.Join-Volunteer-Pages .single-input>.bootstrap-select.btn-group .dropdown-toggle .bs-caret:before {content: '';}
.Join-Volunteer-Pages .single-textarea {
	margin-bottom: 50px;
	width: 100%;
	height: 240px;
}
.Join-Volunteer-Pages .single-textarea>textarea {
	max-width: 100%;
	min-width: 100%;
	max-height: 100%;
	min-height: 100%;
	padding: 20px;
	border: solid 1px #e5e2e2;
}
.Join-Volunteer-Pages form>button {
	width: 194px;
	line-height: 50px;
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	background: #fd580b;
}
/*** 

====================================================================
	Blog
====================================================================

***/
.Blog-List-Wrapper>li {
	margin-bottom: 55px; 
	padding-bottom: 45px;
	border-bottom: solid 1px #e5e3e3;
}
.Blog-List-Wrapper>li:last-child {border-bottom: none;}
.Blog-List-Wrapper>li>h5 {
	line-height: 39px; 
	font-weight: 600; 
	margin-bottom: 20px; 
	max-width: 700px;
}
.Blog-List-Wrapper>li:hover>h5 {color: #fd580b;}
.Blog-List-Wrapper>li>p {line-height: 35px; margin-bottom: 38px;}
.Blog-List-Wrapper>li>ul>li {
	display: inline-block;
	margin-right: 22px;
	line-height: 35px;
	font-size: 15px;
	color: rgba(253,88,11,0.7);
	margin-bottom: 10px;
}
.Blog-List-Wrapper>li>ul>li>a {
	width: 200px;
	line-height: 45px;
	text-align: center;
	background: #fd580b;
	color: #fff;
	font-weight: 600;
}
.blog-list-next-and-pivias>li {display: inline-block; margin-bottom: 5px;}
.blog-list-next-and-pivias>li>a {
	width: 46px;
	line-height: 46px;
	font-size: 20px;
	color: #fd580b;
	background: #ebebeb;
	text-align: center;
	font-weight: 600;
}
.blog-list-next-and-pivias>li>a:hover {background: #fd580b; color: #fff;}
.blog-list-next-and-pivias>li:last-child {margin-left: 10px;}
.blog-list-next-and-pivias>li:last-child>a {width: 70px;}
/*==================================== Blog Details ======================================*/
.Blog-Details-Wrapper .facebook-Like>ul {float: right;}
.Blog-Details-Wrapper .facebook-Like>ul>li {
	display: inline-block;
	font-size: 15px;
	color: #fd580b;
	margin-left: 10px;
	line-height: 36px;
}
.Blog-Details-Wrapper .facebook-Like>ul>li>a {
	width: 102px;
	text-align: center;
	color: #fff;
	background: #4267b2;
	line-height: 32px;
}
.Blog-Details-Wrapper .facebook-Like>ul>li>a>i {margin-right: 5px;}
.Blog-Details-Wrapper .facebook-Like>ul>li:last-child>a {background: #1b95e0;}
.Blog-Details-Wrapper>h3 {
	font-size: 30px;
	font-weight: 600;
	line-height: 42px;
	margin: 25px 0 40px;
}
.Blog-Details-Wrapper>p {line-height: 36px; margin-bottom: 30px;}
.Blog-Details-Wrapper>.blog-details-img-one {overflow: hidden; margin: 40px 0 65px;}
.Blog-Details-Wrapper>.blog-details-img-one>img {
	width: 100%;
	-webkit-transform:scale3D(1.1,1.1,1.1);
          transform:scale3D(1.1,1.1,1.1);
}
.Blog-Details-Wrapper>.blog-details-img-one:hover>img {
	-webkit-transform:scale3D(1,1,1);
          transform:scale3D(1,1,1);
}
.Blog-Details-Wrapper .blog-details-bg-img {
	background: url(../images/blog/img-2.jpg) no-repeat center center;
	background-size: cover;
	margin-bottom: 40px;
}
.Blog-Details-Wrapper .blog-details-bg-img>.opacity {
	padding: 70px 10px;
	text-align: center;
	background: rgba(253,88,11,0.85);
}
.Blog-Details-Wrapper .blog-details-bg-img>.opacity>p {
	color: #fff;
	font-size: 26px;
	line-height: 40px;
	font-weight: 600;
}
/****/
.Blog-Details-Wrapper .Break-down {margin-bottom: 80px;}
.Blog-Details-Wrapper .Break-down>h5 {
	font-size: 22px;
	font-weight: 600;
	line-height: 36px;
	margin: 50px 0 30px;
}
.Blog-Details-Wrapper .Break-down>p {line-height: 36px; margin-bottom: 23px;}
.Blog-Details-Wrapper .Break-down>h6 {
	line-height: 36px;
	font-size: 20px;
	color: #fd550c;
	margin-bottom: 20px;
}
/*******/
.Blog-Author {margin-bottom: 60px;}
.Blog-Author>h5 {font-weight: 700; margin-bottom: 35px;}
.Blog-Author>.Author {
	border-top: solid 1px #e5e4e4;
	border-bottom: solid 1px #e5e4e4;
	padding: 30px 0;
}
.Blog-Author>.Author>.float-img {
	float: left;
	width: 140px;
	padding-right: 20px;
}
.Blog-Author>.Author>.float-img>img {
	display: block;
	width: 100px;
	height: 100px;
	border: solid 1px #fd580b;
	margin-bottom: 18px;
}
.Blog-Author>.Author>.float-img>h6 {
	line-height: 30px;
	font-size: 16px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
}
.Blog-Author>.Author>.float-text {
	float: left;
	width: calc(100% - 140px);
}
.Blog-Author>.Author>.float-text>p {line-height: 30px; margin-bottom: 30px;}
.Blog-Author>.Author>.float-text>ul>li {display: inline-block;}
.Blog-Author>.Author>.float-text>ul>li>a {padding: 0 5px; color: #fd580b; line-height: 30px;}
.Blog-Author>.Author>.float-text>ul>li:nth-of-type(1)>a {padding-left: 0;}
/**********/
.Blod-Three-Comments>h5 {font-weight: 700; margin-bottom: 35px;}
.Blod-Three-Comments>ul>li {margin-bottom: 50px;}
.Blod-Three-Comments>ul>li:last-child {margin-bottom: 0;}
.Blod-Three-Comments>ul>li:nth-of-type(2) {padding-left: 65px;}
.Blod-Three-Comments>ul>li>.float-img {
	float: left;
	width: 140px;
	padding-right: 20px;
}
.Blod-Three-Comments>ul>li>.float-img>img {
	display: block;
	width: 100px;
	height: 100px;
	margin-bottom: 18px;
}
.Blod-Three-Comments>ul>li>.float-img>h6 {
	line-height: 30px;
	font-size: 16px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
}
.Blod-Three-Comments>ul>li>.float-text {
	float: left;
	width: calc(100% - 140px);
	border-bottom: solid 1px #e5e4e4;
	padding-top: 10px;
	padding-bottom: 40px;
}
.Blod-Three-Comments>ul>li:last-child>.float-text {border-bottom: none;}
.Blod-Three-Comments>ul>li>.float-text>p {line-height: 30px; margin-bottom: 35px; font-size: 15px;}
.Blod-Three-Comments>ul>li>.float-text>ul>li {display: inline-block; margin-bottom: 10px;}
.Blod-Three-Comments>ul>li>.float-text>ul>li>span {
	display: block;
	text-align: center;
	color: #fff;
	background: #fd580b; 
	line-height: 36px;
	width: 145px;
	font-size: 15px;
	margin-right: 20px;
}
.Blod-Three-Comments>ul>li>.float-text>ul>li>a {
	width: 90px;
	line-height: 36px;
	background: #e5e4e4;
	font-size: 15px;
	color: #696969;
	text-align: center;
}
.Blod-Three-Comments>ul>li>.float-text>ul>li>a:hover {background: #fd580b; color: #fff;}
/**********/
.Blog-Details-Wrapper>.Leave-A-Comment>h5 {font-weight: 700; margin-bottom: 45px;}
.Blog-Details-Wrapper>.Leave-A-Comment>form button {
	border-radius: 0;
	line-height: 50px;
	width: 200px;
	float: right;
}
/*** 

====================================================================
	Contact Us
====================================================================

***/
.Contact-Us-Pages {margin-top: 60px;}
.Contact-Us-Pages .Contact-Us-Map {height: 465px;}
.Contact-Us-Pages h5 {
	line-height: 40px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
}
.Contact-Us-Pages ul>li {
	color: #727272;
	line-height: 39px;
}
.Contact-Us-Pages .Client-Care .Icon {margin: 16px 0 32px;}
.Contact-Us-Pages .Client-Care .Icon>li {
	display: inline-block;
	font-size: 18px;
	margin-right: 15px;
}
.Contact-Us-Pages .Client-Care .Icon>li>a {color: #534f4f;}
.Contact-Us-Pages .Client-Care .Icon>li>a:hover {color: #fd580b;}
.Contact-Us-Pages .Headquarters-Two .Toll-Free {
	background: #fd580b;
	margin-top: 30px;
	padding: 30px 25px;
}
.Contact-Us-Pages .Headquarters-Two .Toll-Free>li {color: #fff;}
/*** 

====================================================================
	Shop
====================================================================

***/
.Shop-Pages {margin: 120px 0;}
.Shop-Item-Wrapper .Shop-Item {margin-bottom: 30px;}
.Shop-Item-Wrapper .Shop-Item .Shop-Img {overflow: hidden;}
.Shop-Item-Wrapper .Shop-Item .Shop-Img>img {
	width: 100%;
	-webkit-transform:scale3D(1.1,1.1,1.1);
          transform:scale3D(1.1,1.1,1.1);
}
.Shop-Item-Wrapper .Shop-Item:hover .Shop-Img>img {
	-webkit-transform:scale3D(1,1,1);
          transform:scale3D(1,1,1);
}
.Shop-Item-Wrapper .Shop-Item .Shop-Cart {
	border: solid 1px #f0f0f3;
	text-align: center;
	padding: 22px 10px 30px;
}
.Shop-Item-Wrapper .Shop-Item .Shop-Cart>h6 {
	font-size: 18px;
	font-weight: 600;
	line-height: 30px;
}
.Shop-Item-Wrapper .Shop-Item .Shop-Cart>h6>a {color: #242222;}
.Shop-Item-Wrapper .Shop-Item .Shop-Cart>span {
	display: block;
	line-height: 30px;
	font-size: 18px;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	margin: 7px 0 16px;
}
.Shop-Item-Wrapper .Shop-Item .Shop-Cart>a {
	width: 130px;
	line-height: 40px;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	background: #f6a27b;
	text-transform: uppercase;
}
.shop-next-and-pivias {margin-top: 20px;}
.shop-next-and-pivias>li {display: inline-block; margin: 3px; vertical-align: middle;}
.shop-next-and-pivias>li:last-child {margin-left: 15px;}
.shop-next-and-pivias>li>a {
	width: 45px;
	height: 45px;
	line-height: 45px;
	background: #f6a27b;
	border-radius: 50%;
	font-size: 20px;
	color: #fff;
}
.shop-next-and-pivias>li>a>i {font-size: 12px; line-height: 45px; display: block;}
.Shop-Item-Wrapper .Shop-Item .Shop-Cart>a:hover,
.shop-next-and-pivias>li>a:hover {background: #fd580b;}
/*==================================== Shop Side Bar ======================================*/
.Shop-Side-Bar>form {height: 45px; margin-bottom: 46px; position: relative;}
.Shop-Side-Bar>form>input {
	width: 100%;
	height: 100%;
	background: #eeeeee;
	border: none;
	font-style: italic;
	padding: 0 100px 0 15px;
}
.Shop-Side-Bar>form>button {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 90px;
	background: #fd580b;
	color: #fff;
}
.Shop-Side-Bar>h4 {
	line-height: 50px;
	font-weight: 600;
}
.Shop-Side-Bar>h4:after {
	content: "";
	display: block;
	width: 85px;
	height: 2px;
	background: #fd580b;
	margin-bottom: 40px;
}
.Shop-Side-Bar>.Light-Shop {margin-bottom: 40px;}
.Shop-Side-Bar>.Light-Shop>li>a {
	line-height: 35px; 
	margin-bottom: 5px;
	font-size: 18px;
	color: #888787;
}
.Shop-Side-Bar>.Light-Shop>li>a:hover {color: #fd580b; padding-left: 5px;}
.Shop-Side-Bar>.Popular-Product>li {
	position: relative;
	margin-bottom: 30px;
	min-height: 75px;
	padding-left: 120px;
}
.Shop-Side-Bar>.Popular-Product>li>img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 75px;
}
.Shop-Side-Bar>.Popular-Product>li>h6 {
	font-style: 18px;
	font-weight: 600;
	line-height: 40px;
}
.Shop-Side-Bar>.Popular-Product>li>h6>a {color: #242222;}
.Shop-Side-Bar>.Popular-Product>li>span {
	display: block;
	font-weight: 600;
	color: #fd580b;
}
/*==================================== Shop Details ======================================*/
.single-product-details .product-order-img .vig-img {overflow: hidden;}
.single-product-details .product-order-img .vig-img>img {width: 100%;}
.single-product-details .product-order-img:hover .vig-img>img {
	-webkit-transform: scale3D(1.1,1.1,1);
    transform: scale3D(1.1,1.1,1);
}
.single-product-details .product-order-details>h6 {font-size: 30px; line-height: 50px; font-weight: 600;}
.single-product-details .product-order-details>.price {margin: 10px 0 8px;}
.single-product-details .product-order-details>.price>li {display: inline-block; margin-right: 15px; color: #242222; vertical-align: middle;}
.single-product-details .product-order-details>.price>li:nth-of-type(1) {color: #fd580b; font-weight: 700; font-size: 35px;}
.single-product-details .product-order-details>.price>li:nth-of-type(2) {color: #737373; font-size: 22px; font-weight: 600;}
.single-product-details .product-order-details>.rating-and-tag>.rating {margin-top: 15px;}
.single-product-details .product-order-details>.rating-and-tag>.rating>li {display: inline-block; color: #fb663e; font-size: 16px; margin-right: 5px;}
.single-product-details .product-order-details>.rating-and-tag>.tag>li {vertical-align: middle;}
.single-product-details .product-order-details>p {margin: 25px 0 35px;}
.value-decrease-and-select .value-section {padding-bottom: 25px;}
.value-decrease-and-select .value-section>li {
	display: inline-block;
	vertical-align: middle;
}
.value-decrease-and-select .value-section>li button {
	width: 70px;
	height: 40px;
	color: #fff;
	font-size: 14px;
	background: #fd580b;
}
.value-decrease-and-select .value-section>li:nth-child(2) {
	width: 70px;
	height: 40px;
	line-height: 40px;
	background: #eeeded;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	color: #000;
}
.value-decrease-and-select>ul>li>a {
	text-align: center;
	width: 130px;
	line-height: 40px;
	color: #fff;
	background: #fd580b;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
}
/*********/
.single-product-details .review-tab {margin: 80px 0 100px 0;}
.single-product-details .review-tab .nav-tabs > li {margin: 0; margin-right: 3px;}
.single-product-details .review-tab .nav-tabs > li > a {
	font-family: 'Montserrat', sans-serif;
	line-height: 50px;
	font-size: 20px;
	font-weight: 600;
	color: #242222;
	border: none;
	text-align: center;
	border-radius: 0;
	background: #eeeded;
	padding: 0 50px;
}
.single-product-details .review-tab .nav-tabs {border: none; margin: 0 0 40px 0;}
.single-product-details .review-tab .nav-tabs > li > a:hover,
.single-product-details .review-tab .nav-tabs > li.active > a,
.single-product-details .review-tab .nav-tabs > li.active > a:hover,
.single-product-details .review-tab .nav-tabs > li.active > a:focus {background: #fd580b !important; color: #fff;}
.single-product-details .review-tab .tab-pane p {font-size: 16px;}
.single-product-details .review-tab .tab-pane p:nth-of-type(1) {margin-bottom: 24px;}
.single-product-details .review-tab .tab-pane h4 {margin-bottom: 30px; font-weight: 600;}
.single-product-details .review-tab .tab-pane ul li {line-height: 45px; font-size: 18px;}
#review .single-review {background: #f4f1f1; padding: 30px 30px 30px 30px;}
#review .single-review img {width: 85px; height: 85px; border-radius: 50%;}
#review .single-review .text {
	width: calc(100% - 85px);
	padding-left: 30px;
}
#review .single-review .text span {
	display: block;
	font-size: 14px;
	color: rgba(0,0,0,0.6);
}
#review .single-review .text h6 {
	font-weight: 600;
	margin: 5px 0 20px 0;
}
#review .single-review .text ul li {
	display: inline-block;
	font-size: 20px;
	margin:15px 2px 0 2px;
	color: #fb663e;
}
#review .single-review {margin-bottom: 10px;}
/************/
.Shop-Item-Wrapper>h4 {font-size: 22px; font-weight: 600;}
.Shop-Item-Wrapper>h4:after {
	content: "";
	display: block;
	width: 85px;
	height: 2px;
	background: #fd580b;
	margin: 10px 0 50px;
}
/*** 

====================================================================
	Faq
====================================================================

***/
.faq-page {margin: 120px 0;}
.faq-page h4 {font-weight: 600;}
.faq-page>div>p {
	font-size: 18px;
	line-height: 36px;
	max-width: 800px;
	margin: 30px 0 65px;
}
.panel-group .panel-heading {padding: 0;}
.inspiration-tab .panel {
	-webkit-box-shadow: none;
	      box-shadow: none;
	border: none;
	border-radius: 0;
	margin-bottom: 20px;
}
.inspiration-tab .panel-body>p {line-height: 36px;}
.faq-page .faq-item .inspiration-tab .panel-heading h6 a {
	font-family: 'Open Sans', sans-serif;
	display: block;
	color: #171616;
	line-height: 36px;
	position: relative;
	padding: 7px 80px 7px 30px;
	text-transform: none;
	font-size: 16px;
	font-weight: 600;
	background: #f3f3f3;
	text-transform: uppercase;
}
.faq-page .faq-item .inspiration-tab .panel-body {padding: 35px 0; border: none !important;}
.faq-page .faq-item .inspiration-tab .panel-heading h6 a:before {
	content: '';
	font-family: "font-awesome";
	width: 65px;
	height: 36px;
	line-height: 36px;
	position: absolute;
	right: 0;
	top: 50%;
	font-size: 18px;
	text-align: center;
	color: #615b5b;
	-webkit-transform:translateY(-50%);
	      transform:translateY(-50%);
}
.faq-page .faq-item .inspiration-tab .panel-heading.active-panel h6 a:before {content: ''; color: #fd580b;}
/*-------------------------------------------------------------------------------------------------------------*/
/*============================= Click To Top =========================*/
.scroll-top {
	width:30px;
	height:30px;
	position: fixed;
	bottom: 5px;
	right: 10px;
	z-index: 99;
	text-align: center;
	color:#fff;
	font-size: 20px;
	display: none;
	border-radius: 3px;
}
.scroll-top:after {
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 1;
	background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
}
/*-------------------------------------------------------------------------------------------------------------*/
/*** 

====================================================================
  Conatct Form Activation
====================================================================

 ***/
.alert-wrapper {
  display: none;
  position: fixed;
  width: 100%;
  height:100%;
  background: rgba(0,0,0,0.6);
  top: 0;
  left: 0;
  z-index: 9999999;
}
#success,
#error {
  position: relative;
  width:500px;
  height: 100px;
  top: calc(50% - 50px);
  left:calc(50% - 250px);
  background: rgba(0,0,0,0.8);
  text-align: center;
}
#success .wrapper,
#error .wrapper {
  display: table;
  width:100%;
  height: 100%;
}
#success .wrapper p,
#error .wrapper p{
  display: table-cell;
  vertical-align: middle;
  letter-spacing: 1px;
}
#success p{color: #ffce6e;}
#error p{color: #C9182B;}
#error button,
#success button {
  color:#fff;
  width:40px;
  height:40px;
  line-height: 20px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 20px;
}
.form-validation label.error {display: none !important;}
.form-validation input.error,
.form-validation textarea.error {border:1px solid #f03838 !important;}